<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"><%= resource_name.to_s.humanize %> Account</h2>
        <h3 class="section-subheading text-muted">You may edit your account here.</h3>
      </div>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.input :email, required: true, autofocus: true, class: "form-control", id: "email" %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p class="help-block text-danger">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: "form-control", id: "email" %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :password_confirmation, required: false %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <%= f.button :submit, "Update", id: "sendMessageButton", class: "btn btn-primary btn-xl text-uppercase"  %>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% end %>

    <h3>Cancel my account</h3>
    <p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
    <p><%= link_to "Back", :back %></p>
  </div>
</section>
