<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"> </h2>
      </div>
    </div>
    <div class="row">

    <p>Balance:  <%= humanized_money_with_symbol(@user.balance) %></p>

<h1>Charge balance 5 EUR </h1>
<%= form_tag payments_path do %>
  <article>
    <label class="amount">
      <span>Amount: 5 </span>
    </label>
  </article>
  <%= hidden_field_tag :value, 500 %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Vendimo"
    data-email="<%= @user.email %>"
    data-description="EUR 5"
    data-amount="500"
    data-currency="<%= @user.balance.currency %>"></script>
<% end %>






<%= link_to '5', payments_path(value: '500'), class: "btn btn-primary", method: :post %>
<%= link_to '10', payments_path(value: '1000'), class: "btn btn-primary", method: :post %>
<%= link_to '20', payments_path(value: '2000'), class: "btn btn-primary", method: :post %>





  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
</script>
    </div>
    </div>
    </section>


