<section style="padding: 150px 0px 50px 0px;">
  <div class="container">
    <!-- Machine header -->
    <div class="row">

      <div class="col-lg-6">
        <p>Machine id: <%= @machine.id %></p>
        <p>Model: <%= @machine.model %></p>
        <p>Manufacturer: <%= @machine.manufacturer %></p>
        <p>Firmware: <%= @machine.firmware %></p>
        <p>Last maintenance: </p>

      </div>
      <div class="col-md-6">
        <img src="https://c1.staticflickr.com/4/3212/2795357890_f3f00f75de_b.jpg" alt="Vending Machine" style="width:200px;height:200px;">
        <img src="http://www.prague.eu/object/2161/folimanka1.jpg" alt="Landmark" style="width:200px;height:200px;">
      </div>
    </div>
    <!-- END OF CONTAINER -->
  </div>
</section>

<section class="bg-light" style="padding: 50px 0px 50px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div style= "display: flex;justify-content: space-between;">
        <h3>Items in this machine:</h3>
        <i class="fa fa-birthday-cake" aria-hidden="true" style="width:28px;height:28px"></i>
        <i class="fa fa-cutlery" aria-hidden="true"></i> 
        <i class="fa fa-coffee" aria-hidden="true"></i>
        <i class="fa fa-plug" aria-hidden="true"></i>
        <i class="fa fa-beer" aria-hidden="true"></i>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- CHARTS -->
<section style="padding: 50px 0px 50px 0px;">
  <div class="container">
    <!-- Purchase -->
    <div class="row">
      <div class="col-lg-6">
        <h3>Purchases:</h3>
        <%= line_chart Machine.group_by_day(:created_at).count %>
      </div>
      <div class="col-lg-6">
        <h3>Top selling products</h3>
        <%= pie_chart Machine.group(:firmware).count %>
      </div>
    </div>
  </div>
</section>
<!-- UTILITIES -->
<section style="padding: 50px 0px 50px 0px;">
  <div class="container">
    <div class="tabs">
      <a class="tab active" data-toggle="tab" href="#menu1">
        <h3></h3>
        <p>Maintenance History</p>
      </a>
      <a class="tab" data-toggle="tab" href="#menu2">
        <h3></h3>
        <p>Alerts</p>
      </a>
    </div>
    <div class="tab-content">
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
      </div>
      <p>2017-25-11 Restock to full</p>
      <p>2017-17-11 Restock to full</p>
      <p>2017-08-11 Machine Malfunction Notification</p>
      <p>2017-04-11 Restock to full</p>
    </div>
  </div>
</section>
<% content_for(:before_js) do %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% end %>
